@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black: #23232b;
  --green: #00ff00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: "Helvetica,Microsoft JhengHei", sans-serif;
  background: linear-gradient(45deg, #e7eff4, #fff, #dee3e7);
}
body nav {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 8px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body nav ul {
  display: flex;
}
body nav ul li {
  list-style-type: none;
  margin: 12px 16px;
}
body nav ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease; /* 設定過渡效果 */
}
body nav ul li a:hover {
  transform: translateY(-5px);
  color: #007bff;
  color: #5992af;
}
body nav .links-icon {
  display: none;
  margin: 0px;
}
body nav .links-icon img {
  width: 50px;
  height: 50px;
}
body nav .hamburger-menu {
  display: none;
}

main {
  background: linear-gradient(45deg, #e7eff4, #fff, #dee3e7);
}
main section.main-area {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main section.main-area div.info {
  padding: 16px;
}
main section.main-area div.info h1 {
  font-size: 56px;
}
main section.main-area div.info h2 {
  font-size: 16px;
}
main section.main-area div.info a {
  color: white;
  background-color: #467086;
  padding: 8px 26px;
  font-size: 18px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
main section.main-area div.info a:hover {
  background-color: #3c7895;
  transform: scale(1.05);
}
main section.main-area div.img-area {
  flex-basis: 450px;
}
main section.main-area div.img-area img {
  width: 100%;
}
main section.learning-process {
  background: linear-gradient(45deg, #dee3e7, #e7eff4, #fff, #dee3e7);
  padding: 80px 0px;
  display: flex;
  justify-content: center;
}
main section.learning-process section.description {
  margin: 0px 40px;
  width: 900px;
  text-align: center;
}
main section.learning-process section.description .description-title {
  margin: auto;
}
main section.learning-process section.description h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
main section.learning-process section.description P {
  text-align: left;
  font-size: 18px;
}
main section.skills {
  background: linear-gradient(135deg, #dee3e7, #e7eff4, #fff, #dee3e7, #fff);
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.skills section.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
  width: 900px;
}
main section.skills section.list h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
main section.skills section.list .window-wrapper {
  display: flex;
  width: 100%;
}
main section.skills section.list .terminal-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #1e1e1e;
  padding: 40px 56px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}
main section.skills section.list .terminal-window p {
  font-family: "VT323", monospace;
  font-size: 36px;
  letter-spacing: 1px;
  --color: var(--green);
  color: var(--color);
  cursor: pointer;
}
main section.projects {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.projects .project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
  max-width: 1200px;
}
main section.projects .project-list h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
main section.projects .project-list .project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 32px 0px;
  margin: 56px 0px;
}
main section.projects .project-list .project-wrapper .project-img-wrapper {
  display: flex;
  flex-direction: column;
  width: 56%;
  padding: 10px;
  margin: 10px;
  order: 1;
}
main section.projects .project-list .project-wrapper .project-img-wrapper img {
  width: 100%;
}
main section.projects .project-list .project-wrapper .project-description {
  display: flex;
  flex-direction: column;
  width: 44%;
  padding: 16px;
  order: 0;
}
main section.projects .project-list .project-wrapper .project-description .project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
}
main section.projects .project-list .project-wrapper .project-description .project-title a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
main section.projects .project-list .project-wrapper .project-description .project-title i {
  font-size: 20px;
  margin-left: 8px;
  color: black;
}
main section.projects .project-list .project-wrapper .project-description .project-info {
  margin-bottom: 8px;
}
main section.projects .project-list .project-wrapper .project-description .project-techniques {
  margin: 12px 0px;
}
main section.projects .project-list .project-wrapper .project-description .project-links {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.projects .project-list .project-wrapper .project-description .project-links a {
  text-decoration: none;
  color: #000;
}
main section.projects .project-list .project-wrapper .project-description .project-links a:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #84c1ff;
}
main section.projects .project-list .project-wrapper .project-description .project-links a:last-child {
  font-size: 16px;
}
main section.projects .project-wrapper:nth-child(even) .project-img-wrapper {
  order: 1;
}
main section.projects .project-wrapper:nth-child(even) .project-description {
  order: 0;
}
main section.projects .project-wrapper:nth-child(odd) .project-img-wrapper {
  order: 0;
}
main section.projects .project-wrapper:nth-child(odd) .project-description {
  order: 1;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #000;
  background-color: #d5e3ee;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline .content {
  padding: 20px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}
.timeline .content h3 {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.timeline .content .content-p {
  font-size: 16px;
}

.container {
  background-color: inherit;
  padding: 15px 40px;
  width: 50%;
  position: relative;
}
.container::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -14px;
  background-color: white;
  border: 4px solid rgba(75, 129, 156, 0.5882352941);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.container.left {
  left: 0;
}
.container.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.container.right {
  left: 50%;
}
.container.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.container.right::after {
  left: -14px;
}

@media screen and (max-width: 994px) {
  section.main-area div.img-area {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  main {
    margin-top: 30px;
  }
  .external-links {
    display: none;
  }
  body nav {
    justify-content: center;
  }
  body nav .hamburger-menu {
    display: block;
  }
  .list .window-wrapper {
    flex-wrap: wrap;
  }
  .project-list .project-wrapper {
    flex-wrap: wrap;
    display: block !important;
  }
  .project-list .project-wrapper .project-description {
    width: 100% !important;
    order: 2;
  }
  .project-list .project-wrapper .project-img-wrapper {
    width: 100% !important;
    order: 0;
  }
}
@media screen and (max-width: 570px) {
  body nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links .ms-570 {
    display: none;
  }
  .links .links-icon {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */