@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black: #23232b;
  --green: #00ff00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: "Helvetica,Microsoft JhengHei", sans-serif;
  background: linear-gradient(45deg, #e7eff4, #fff, #dee3e7);

  nav {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 8px 20px;
    // background: #fff;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 12px 16px;
        a {
          display: inline-block;
          color: black;
          text-decoration: none;
          transition: transform 0.3s ease, color 0.3s ease; /* 設定過渡效果 */

          &:hover {
            transform: translateY(-5px);
            color: #007bff;
            color: #5992af;
          }
        }
      }
    }
    .links-icon {
      display: none;
      margin: 0px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .hamburger-menu {
      display: none;
    }
  }
}

main {
  background: linear-gradient(45deg, #e7eff4, #fff, #dee3e7);

  section.main-area {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div.info {
      flex-basis: 500px;
      padding: 16px;

      h1 {
        font-size: 56px;
      }
      h2 {
        font-size: 16px;
      }

      a {
        color: white;
        background-color: #467086;
        padding: 8px 26px;
        font-size: 18px;
        border-radius: 8px;
        display: inline-block;
        margin-top: 2rem;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover {
          background-color: #3c7895;
          transform: scale(1.05);
          //   box-shadow: ;
        }
      }
    }

    div.img-area {
      flex-basis: 450px;
      img {
        width: 100%;
      }
    }
  }

  section.learning-process {
    background: linear-gradient(45deg, #dee3e7, #e7eff4, #fff, #dee3e7);

    padding: 80px 0px;
    display: flex;
    justify-content: center;

    section.description {
      // width: 60%;
      margin: 0px 40px;
      width: 900px;
      text-align: center;
      .description-title {
        margin: auto;
      }
      h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      P {
        text-align: left;
        font-size: 18px;
      }
    }
  }

  section.skills {
    padding: 80px 0px;
    display: flex;
    justify-content: center;

    section.list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin: 0px 40px;
      width: 900px;
      text-align: start;

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      .window-wrapper {
        display: flex;
        // flex-wrap: wrap;
        width: 100%;
      }
      .terminal-window {
        display: flex;
        flex-direction: column;
        gap: 8px;
        gap: 10px;
        // width: 85%;
        width: 100%;
        // height: 100%;
        background-color: #1e1e1e;
        // padding: 20px;
        padding: 40px 56px;
        // margin: 0px 10px;
        margin: 10px;
        border-radius: 10px;
        border: 2px solid #333;
        box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);

        p {
          font-family: "VT323", monospace;
          font-size: 36px;
          letter-spacing: 1px;

          --color: var(--green);
          color: var(--color);
          cursor: pointer;
        }
      }
    }
  }
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #000;
    background-color: #d5e3ee;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .content {
    padding: 20px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);

    h3 {
      text-align: left;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .content-p {
      font-size: 16px;
    }
  }
}

.container {
  background-color: inherit;
  padding: 15px 40px;
  width: 50%;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    right: -14px;
    background-color: white;
    border: 4px solid #4b819c96;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  &.left {
    left: 0;

    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }
  }

  &.right {
    left: 50%;

    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    &::after {
      left: -14px;
    }
  }
}

// nav bar RWD
@media screen and (max-width: 960px) {
  main {
    margin-top: 30px;
  }
  .external-links {
    display: none;
  }
  body nav {
    justify-content: center;
    .hamburger-menu {
      display: block;
    }
  }
  .list {
    .window-wrapper {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 570px) {
  body nav {
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .links {
    .ms-570 {
      display: none;
    }

    .links-icon {
      display: block;
    }
  }
}
